body{
    margin: 0px;
}
header{
    margin: 0px;
}
header div{
    max-width: 600px;
    display: block;
    margin: 0px auto; 
}
header div img{
    max-width: 600px;
}

main div{
    display: block;
    margin: 0px auto; 
}
div{
    background-color: gray;
    max-width: 600px;
    text-align: center;
}
main div img{
    width: 100px;
    border: 10px solid rgb(68, 60, 60);
    border-radius: 50%;
    margin: 20px;
}
footer p{
    margin: 0px;
    text-align: center;
}