@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Rajdhani&display=swap');
:root {
  /* change the values below to your chosen font(s) */
  --heading-font:  'Chakra Petch', sans-serif;
  --paragraph-font: 'Rajdhani', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: #22577A;
}
p, li{
    font-family: var(--paragraph-font);
}

/* header */
header{
    display: grid;
    grid-template-columns: 180px auto;
    background-color: #D91023;
    color: white;
}
img#logo{
    margin: 15px auto;
    width: 70px;
 }
nav{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    line-height: 3em;
    font-size: 1.5em;
}
nav a {
    text-decoration: none;
    padding:1em;
    min-width: 120px;
    text-align: center;
}
nav a:link, nav a:visited {
    color: white;
}
nav a:hover{
    background-color: white;
    color: #D91023;;   
}
/* header end */
/* footer  */

footer{
    display: grid;;
    grid-template-columns: auto auto auto;
    background-color: #D91023;
    color: white;
    font-size: 1.5em;

}

footer a:nth-child(1){
    padding:1em;
    margin: 0 auto;
}
footer a{
    padding:1em;
    text-decoration: none;
    margin-right: auto;
    color: white;
}
footer div{
    padding:1em;
    margin-left:  auto;
}
div.social a {
    text-decoration: none;
    padding:1em;
}

/* footer end  */

#active{
    background-color: white;
    color:#D91023;
    border: 1px solid #D91023;
}