.product-element{
    border: 1px solid #22577A;
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 20px 10px;
    border-radius: 10px;
    background-color: rgba(7, 18, 25, 0.412);

}
.product-element img{
    width: 60%;
    margin: 30px auto;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    grid-column: 1/2;
}
.product-description{
    margin-top: 20px;
    grid-column: 2/3;
}

p, ul{
    color: #fff;
}
li a{
    text-decoration: none;
    color: #fff;
}